*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body
{
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.screen
{
	display: grid;
	grid-template-columns: repeat(16, 60px);
	gap: 0px; 
}
.ground
{
	background: url("Stones & Brick Textures/Brickwall4_Texture.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 60px;
	height: 60px;
}
.path
{
	background: url("Stones & Brick Textures/Brick2_Texture.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 60px;
	height: 60px;
}
.player{
	background: url("Mario svg , mario png.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 60px;
	height: 60px;
}
.door
{
	background: url("—Pngtree—magic door stairs vector_15264118.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 60px;
	height: 60px;
}
.win{
	margin :20px;
	display: none; 
}
.show
{
	background-color: red;
	display: block; 

}